body {
  background-color: rgb(136, 65, 89);
  font-family: sans-serif;
  color: white;
  margin: 0;
  text-align: center;
}

.heartpizzarotate { 
position: absolute; top: 10%; 
left: 90%; 
width: 200px; 
height: 200px; 
margin:-60px 0 0 -60px; 
-webkit-animation:spin 12s linear infinite; 
-moz-animation:spin 12s linear infinite; 
animation:spin 12s linear infinite; 
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } 
}

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } 
} 

@keyframes spin { 
  100% { 
  -webkit-transform: rotate(360deg); 
  transform:rotate(360deg); 
  } 
} 

.roundpizzamixrotate { 
position: absolute; 
top: 18%; 
left: 70%; 
width: 200px; 
height: 200px; 
margin:-60px 0 0 -60px; 
-webkit-animation:spin 15s linear infinite; 
-moz-animation:spin 15s linear infinite; 
animation:spin 15s linear infinite; 
} 

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } 
} 

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } 
} 

@keyframes spin { 
  100% { 
    -webkit-transform: rotate(360deg);
     transform:rotate(360deg); 
  } 
} 

.roundpizzarotate { 
position: absolute; 
top: 30%; 
left: 90%; 
width: 200px; 
height: 200px; 
margin:-60px 0 0 -60px; 
-webkit-animation:spin 15s linear infinite; 
-moz-animation:spin 15s linear infinite; 
animation:spin 15s linear infinite; 
} 

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } 
} 

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } 
} 

@keyframes spin { 
  100% { 
  -webkit-transform: rotate(360deg); 
  transform:rotate(360deg); 
  }
} 

.squaredpizzarotate { 
position: absolute; 
top: 40%; 
left: 60%; 
width: 200px; 
height: 200px; 
margin:-60px 0 0 -60px; 
-webkit-animation:spin 15s linear infinite; 
-moz-animation:spin 15s linear infinite; 
animation:spin 15s linear infinite; 
} 

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } 
} 

@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(360deg); } 
} 

@keyframes spin { 
  100% { 
  -webkit-transform: rotate(360deg); 
  transform:rotate(360deg); 
  } 
} 

.custompizzarotate { 
position: absolute; 
top: 40%; 
left: 75%; 
width: 200px; 
height: 200px; 
margin: -60px 0 0 -60px; 
animation: zoom 5s linear infinite; 
} 

@keyframes zoom {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
} 

.tilepizzaselection{ 
color: white; 
font-size: 75px; 
position: absolute; 
top: -5%; 
left: 55% 
} 

.pizzalogo{ 
 position: absolute;
 top: 1%;
 left: -2%
 } 

a{ 
color: white;
 } 

.potions-link{ 
position: absolute;
 top: 60%;
 left: 70%;
 font-size: 100px;
 }

.page-title {
  font-size: 60px;
  margin: 30px 0;
}

.pizza-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 20px;
}

.pizza-card {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  padding: 20px;
  width: 250px;
  height: 1000px;
  box-shadow: 0 0 15px rgba(255,255,255,0.1);
  transition: transform 0.3s;
}

.pizza-card:hover {
  transform: scale(1.05);
}

.pizza-card img {
  width: 100%;
  border-radius: 10px;
}

.pizza-card h2 {
  font-size: 24px;
  margin-top: 10px;
}

.pizza-card label {
  display: block;
  text-align: left;
  margin: 5px 0;
}

textarea {
 height: 100px;
 width: 250px;
}

.reset{
  width: 15px;
  height: 15px;
  position: absolute;
  top: 5%;
  left: 5%;
}
.submit{
  width: 15px;
  height: 15px;
  position: absolute;
  top: 5%;
  left: 94%;
}
.resettext{
  width: 15px;
  height: 15px;
  position: absolute;
  top: 5%;
  left: 6%;
}
.submittext{
  width: 15px;
  height: 15px;
  position: absolute;
  top: 5%;
  left: 91%;
}